<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
    <title>Appointments</title>

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/busy.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Moment -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <!-- Date range picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

</head>

<body>
    <div class="container">
        <div class="text-center">
            <div class="jumbotron">
                <h1>Free times</h1>

                <h2>Date range</h2>
                <form action="/setrange" method="post">
                    <input type="text" name="daterange" size="12" class="date"
                        {% if session.daterange is defined %}
                            value="{{session.daterange}}"
                        {% endif %}
                            class="pull-down"
                            style="background: #fff; cursor: pointer; padding: 5px 10px;
                                   border: 1px solid #ccc; width: 12em">
                        <script type="text/javascript">
                            $(function() {
                                $('input[name="daterange"]').daterangepicker(
                                    {    ranges: {
                                    'Today': [moment(), moment()],
                                    'Tomorrow':[moment().add(1, 'days'),
                                                moment().add(1, 'days')],
                                    'This week':[moment(), moment().endOf('week')],
                                    'Next week':[moment().add(7, 'days').startOf('week'),
                                                moment().add(7, 'days').endOf('week')],
                                    'This month':[moment(), moment().endOf('month')],
                                    'Within two weeks':[moment(),moment().add(15, 'days')]
                                    }}
                                );
                             });
                        </script>
                        <br />
                    <p>meeting time</p>
                    <input type="submit" value="Choose" />
                    <input type=time name="begin_time" id="meeting_begin" value="00:00"/>
                    <input type=time name="end_time" id="meeting_end" value="00:00"/>
                </form>
            </div>
        </div>

            <!--
            Show the calendar list (if we have it).  This will need to be turned into
            a form from which calendars can be picked. Up to three entries are
            shown in each row (but the order is across then down; I would
            prefer down then across).
            -->
        {% if g.calendars is defined  %}
          <div class="row">
          {% for cal in g.calendars if cal.selected %}
              <div class="checkbox">
                <label><input type="checkbox" class="checkbox" value="{{cal.id}}">{{ cal.summary }}</label>
                  </div>
                  </div> <div class="row">
          {% endfor %}
          </div>
        {% endif %}

            <button type="button" class="btn btn-default go">Go</button>
            <div id="events"></div>

            <script>
                    $(".go").on("click", function(event) {
                        var date = $(".date").val();
                        var checked = [];
                        $.each($('.checkbox:checkbox:checked'), function(index, value) {
                            checked.push(value.value);
                        });
                        var post_json = {list: checked}
                        $.post('/_get_events', post_json, function(data) {
                           $('#events').html("");
                           var events = data.result;
                           var eventString = "";
                           for (i = 0; i < events.length; i ++) {
                                if (events[i].name != "open") {
                                eventString = "<div class='text-center'><div class='alert alert-warning'>Event: " + events[i].name +
                                 "<br> Start time:" + moment(events[i].start).format('dddd, MMMM Do YYYY, h:mm') +
                                  "<br> End time:" + moment(events[i].end).format('dddd, MMMM Do YYYY, h:mm') + "</div></div>";
                                $('#events').append(eventString);
                                } else {
                                eventString = "<div class='text-center'><div class='alert alert-success'>Event: " + events[i].name +
                                 "<br> Start time:" + moment(events[i].start).format('dddd, MMMM Do YYYY, h:mm') +
                                  "<br> End time:" + moment(events[i].end).format('dddd, MMMM Do YYYY, h:mm') + "</div></div>";
                                $('#events').append(eventString);
                                }
                           }
                        });
                    });
            </script>


    </div>  <!-- container (for bootstrap) -->
</body>
</html>
